$header-color: #fff;
$header-color-hover:rgb(252, 227, 138);
$color-title-after:#f38181;
$base-color-text: rgb(153, 153, 153);
$montserat-bold: "Montserrat-Bold";
$montserat-regular:"Montserrat-Regular";
$kaushan-script:"Kaushan Script";
$roboto-regular:"Roboto-Regular";
$base-fonts-size:14px;
$size-logo: 30px;
$size-text-logo:24px;