.services{
    padding: 0 0 100px;
    &__text{
     text-align: center;
     font-family: $kaushan-script;
     font-size: $size-text-logo;
     padding: 40px 0px 20px;
    }
    &__title{
        text-align: center;
        font-family: $montserat-bold;
        text-transform: uppercase;
        font-size: $size-logo;
       padding-bottom: 110px;
        &::after {
            position: relative;
            top: 40px;
            content: "";
            display: block;
            margin: 0 auto;
            width: 60px;
            height: 3px;
            background-color: $color-title-after;
          }
    }
}



.list-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    &__item{
        position: relative;
        width: 392px;
        margin-bottom: 102px;
        padding-left: 90px;
        &:nth-last-child(-n + 3) {
            margin-bottom: 0px;
          }
          &::before {
            display: block;
            content: "";
            width: 89px;
            height: 89px;
          
            position: absolute;
            background-repeat: no-repeat;
            background-position: center;
            left: 0px;
            top: -24px;
          }

         
    }

    &__item-title{
     font-size: $base-fonts-size;
     font-family: $montserat-bold;
     text-transform: uppercase;
     color: rgb(51, 51, 51);
     margin-bottom:21px ;

    }

    &__item-text{
     font-family: $roboto-regular;
     line-height: 24px;
     font-size: 15px;
     color: $base-color-text;
    }
}
.list-services__item--clock::before {
    background-image: url(../images/ALARM.svg);
  }

.list-services__item--web::before {
    background-image: url(../images/LINEGRAPH.svg);
  }

  .list-services__item--creativity::before {
    background-image: url(../images/COMPUTEROK.svg);
  }
  
  .list-services__item--seo::before {
    background-image: url(../images/BOOK2.svg);
  }
  
  .list-services__item--css::before {
    background-image: url(../images/HOME.svg);
  }
  
  .list-services__item--digital::before {
    background-image: url(../images/IMAGE.svg);
  }